<form class="search-form" id="search-form">
  <input
    class="search_form_input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="search_form_btn btn-prinary mb-2" type="submit">&#128269;</button>
</form>

<div class="gallery"></div>
<button type="button" class="btn btn-primary" data-action="load-more">
  <span class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="label"></span>
</button>
